In [61]:
import pandas as pd

In [62]:
## Downloaded nation data from here: https://zerotracker.net/

In [63]:
net_zero = pd.read_excel("inputs/net_zero.xlsx", sheet_name="NZT DATA")
countries = pd.read_csv("inputs/countries.csv", encoding="latin1")

In [64]:
net_zero = net_zero[["name", "end_target_year", "end_target_status"]]

In [65]:
net_zero = pd.merge(net_zero, countries)

In [66]:
net_zero = net_zero.drop(columns=["name"])

In [67]:
net_zero["has_net_zero_target"] = "Yes"

In [68]:
net_zero

,end_target_year,end_target_status,country,has_net_zero_target
0,2050,Proposed / in discussion,Afghanistan,Yes
1,2050,Proposed / in discussion,Angola,Yes
2,2050,In policy document,Argentina,Yes
3,2050,Proposed / in discussion,Armenia,Yes
4,2040,In policy document,Antigua and Barbuda,Yes
...,...,...,...,...
144,2050,In policy document,Vietnam,Yes
145,2050,Proposed / in discussion,South Sudan,Yes
146,2050,In policy document,Singapore,Yes
147,2050,In law,European Union,Yes
148,2050,Proposed / in discussion,Niue,Yes

In [69]:
net_zero = net_zero.rename(columns={"end_target_year":"year",
                                   "end_target_status":"net_zero_status"
                                   }
                          )

In [70]:
net_zero = net_zero[ ["country"] + [ col for col in net_zero.columns if col != "country" ] ]

In [71]:
net_zero.to_csv("output/Net Zero Targets (Net Zero Tracker).csv", index=False)