In [7]:
import pandas as pd

pwt_old = pd.read_excel("pwt100.xlsx", sheet_name='Data')
pwt_new = pd.read_excel("pwt1001.xlsx", sheet_name='Data')

In [10]:
# Compare the two dataframes and show the differences
pwt_diff = pwt_old.compare(pwt_new)
pwt_diff

                 cn                      ck                ctfp            \
               self         other      self     other      self     other
20      1313.093384   1224.012085       NaN       NaN       NaN       NaN
21      1440.541504   1343.129639       NaN       NaN       NaN       NaN
22      1580.743164   1474.279175       NaN       NaN       NaN       NaN
23      1732.009155   1615.262817       NaN       NaN       NaN       NaN
24      1902.454834   1774.149048       NaN       NaN       NaN       NaN
...             ...           ...       ...       ...       ...       ...
12805  61790.628906  51968.992188  0.000823  0.000710  0.386632  0.414307
12806  64844.191406  54424.289062  0.000844  0.000728  0.385642  0.413199
12807  67627.562500  56829.140625  0.000860  0.000742  0.402779  0.431675
12808  68826.773438  58313.175781  0.000853  0.000741  0.382059  0.408002
12809  69588.242188  59395.531250  0.000837  0.000733  0.351973  0.374524

          cwtfp                    rnna                ...       irr  \
           self     other          self         other  ...      self
20          NaN       NaN    688.414429    617.094482  ...       NaN
21          NaN       NaN    758.382812    680.086426  ...       NaN
22          NaN       NaN    834.935791    748.992676  ...       NaN
23          NaN       NaN    918.604614    824.354614  ...       NaN
24          NaN       NaN   1009.965393    906.653259  ...       NaN
...         ...       ...           ...           ...  ...       ...
12805  0.447125  0.479130  64916.476562  53550.226562  ...  0.247887
12806  0.423063  0.453294  66257.859375  55167.007812  ...  0.249504
12807  0.432392  0.463413  67627.562500  56829.140625  ...  0.261848
12808  0.418766  0.447202  69059.625000  58552.808594  ...  0.284147
12809  0.388345  0.413226  69946.421875  59743.035156  ...  0.243464

                    delta           i_irr            pl_n                pl_k  \
          other      self     other  self other      self     other      self
20          NaN  0.040120  0.040122   NaN   NaN  0.334630  0.357861       NaN
21          NaN  0.039126  0.039130   NaN   NaN  0.324470  0.347032       NaN
22          NaN  0.038329  0.038335   NaN   NaN  0.314348  0.336217       NaN
23          NaN  0.037695  0.037703   NaN   NaN  0.304904  0.326063       NaN
24          NaN  0.037196  0.037205   NaN   NaN  0.294761  0.315247       NaN
...         ...       ...       ...   ...   ...       ...       ...       ...
12805  0.297597  0.052084  0.056608   NaN   NaN  0.422764  0.425715  1.533909
12806  0.300272  0.053471  0.058132   NaN   NaN  0.416510  0.419446  1.491724
12807  0.314343  0.054693  0.059470   NaN   NaN  0.415592  0.418681  1.514525
12808  0.339063  0.055759  0.060596   NaN   NaN  0.425143  0.426527  1.590120
12809  0.290575  0.056594  0.061469   NaN   NaN  0.420675  0.419883  1.384068


          other
20          NaN
21          NaN
22          NaN
23          NaN
24          NaN
...         ...
12805  1.778124
12806  1.728804
12807  1.756007
12808  1.830088
12809  1.580885

[10314 rows x 26 columns]

In [9]:
for col in pwt_diff.columns:
    print(col)

('cn', 'self')
('cn', 'other')
('ck', 'self')
('ck', 'other')
('ctfp', 'self')
('ctfp', 'other')
('cwtfp', 'self')
('cwtfp', 'other')
('rnna', 'self')
('rnna', 'other')
('rkna', 'self')
('rkna', 'other')
('rtfpna', 'self')
('rtfpna', 'other')
('rwtfpna', 'self')
('rwtfpna', 'other')
('irr', 'self')
('irr', 'other')
('delta', 'self')
('delta', 'other')
('i_irr', 'self')
('i_irr', 'other')
('pl_n', 'self')
('pl_n', 'other')
('pl_k', 'self')
('pl_k', 'other')